<div class="container">
  <header>
    <app-selector></app-selector>
  </header>

  <main>
    <app-calendar></app-calendar>
  </main>

  <div>
    <app-organizer></app-organizer>
  </div>
</div>

<!--<header>-->
<!--  <div class="container">-->
<!--    <ul class="navigation">-->
<!--      <li class="logo"><a href="https://www.netlify.com">Netlify</a></li>-->
<!--      <li><a href="/" class="templates">Templates</a></li>-->
<!--      <li><a href="/contribute" class="contribute">Contribute</a></li>-->
<!--    </ul>-->
<!--    <div class="prime">-->

<!--      <h1>JAMstack templates</h1>-->
<!--      <p>Find the perfect place to begin a new JAMstack site. Deploy a template site to Netlify <a href="#about-deploy-to-netlify">with just one click</a>. The site’s code will automatically populate as a new folder in your Git repository so you can explore, edit, and update so it works for you. All for free.</p>-->

<!--    </div>-->
<!--  </div>-->
<!--  <div class="wave" aria-hidden="true">-->
<!--    <svg viewBox="0 0 1440 127">-->
<!--      <path d="M0.5,42.9636079 L0.5,119.5 L1439.5,119.5 L1439.5,43.119913 C748.936314,13.2999357 269.448743,13.3212255 1.05528611,43.1811859 L0.5,43.242964 L0.5,42.9636079 Z" id="Combined-Shape"></path>-->
<!--    </svg>-->
<!--  </div>-->
<!--</header>-->
