@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    color: #666;
  }
}

ul {
  list-style: none;
}


input {
  display: block;
  width: 100%;
  padding: .4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: .5rem;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

table th {
  background: var(--light-color);
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: .4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: .5rem;
  transition: opacity .2s;
  outline: none;

  &:disabled {
    background: var(--dark-color);
    color: #fff;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    opacity: .8;
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.text-center {
  text-align: center;
}




//header {
//  margin-bottom: 4em;
//  padding-top: 1em;
//  padding-bottom: 4em;
//  overflow: hidden;
//  position: relative;
//  background: #0e1e25;
//  background: linear-gradient(to bottom, #0e1e25 20%, #2d3b41 90%);
//  color: #cfd2d3;
//  text-shadow: 0 2px 20px rgba(0, 0, 0, .16);
//}
//
//.container {
//  width: 90%;
//  margin-left: auto;
//  margin-right: auto;
//  text-align: left;
//  z-index: 1;
//  position: relative;
//}
//
//* {
//  margin: 0;
//  padding: 0;
//}
//
//.wave:last-child {
//  bottom: 0;
//  transform: translateY(60%);
//}
//
//.wave {
//  overflow: hidden;
//  position: absolute;
//  width: 100%;
//  color: #fff;
//}
//
//:not(svg) {
//  transform-origin: 0 0;
//}
//
//* {
//  margin: 0;
//  padding: 0
//}
//
//html {
//  background-color: #fff
//}
//
//body {
//  text-align: center;
//  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//  font-weight: 300;
//  font-size: 14px;
//  line-height: 1.5;
//  background-color: #fff;
//  color: #555;
//  text-align: center
//}
//
//@media (min-width: 600px) {
//  body {
//    font-size: 15px;
//    line-height: 1.6
//  }
//}
//
//@media (min-width: 800px) {
//  body {
//    font-size: 16px;
//    line-height: 1.6
//  }
//}
//
//@media (min-width: 1000px) {
//  body {
//    font-size: 17px;
//    line-height: 1.8;
//  }
//}
//
//h1, h2, h3 {
//  line-height: 1.2;
//  margin-top: 1em;
//  margin-bottom: .4em;
//  color: #111;
//  font-weight: 500
//}
//
//h1 {
//  font-size: 2.2em
//}
//
//h2 {
//  font-size: 1.6em
//}
//
//h3 {
//  font-size: 1.2em
//}
//
//h1 {
//  color: #fff
//}
//
//p {
//  padding-top: 0;
//  padding-bottom: 1em
//}
//
//ul.listing {
//  list-style: none;
//  margin-top: 2em;
//  margin-bottom: 3em;
//  padding-top: 1em;
//  padding-bottom: 1em
//}
//
//ul.listing li.item-template {
//  padding-bottom: 1em;
//  border-top: 1px solid #e7e9e9
//}
//
//ul.listing li.item-template:first-of-type {
//  border-top-style: none;
//  margin-top: -4em
//}
//
//@media (min-width: 800px) {
//  ul.listing li.item-template:first-of-type {
//    margin-top: 0
//  }
//}
//
//.template-summary div.box {
//  display: block
//}
//
//@media (min-width: 800px) {
//  .template-summary div.box {
//    display: flex;
//    margin-top: 2em;
//    margin-bottom: 2em
//  }
//}
//
//.template-summary div.left {
//  padding-top: 5.4em;
//  padding-left: 0
//}
//
//@media (min-width: 800px) {
//  .template-summary div.left .cta-title-wrapper {
//    margin-top: 0;
//    margin-bottom: 0;
//    display: none
//  }
//}
//
//.template-summary div.left .cta-title-wrapper a.cta-title {
//  display: inline-block
//}
//
//.template-summary div.right {
//  padding-left: 0
//}
//
//@media (min-width: 800px) {
//  .template-summary div.right {
//    padding-left: 2em
//  }
//}
//
//.template-summary div.right .cta-title-wrapper {
//  margin-top: 0;
//  margin-bottom: 0;
//  display: none
//}
//
//@media (min-width: 800px) {
//  .template-summary div.right .cta-title-wrapper {
//    margin-top: 1em;
//    margin-bottom: .4em;
//    display: block
//  }
//}
//
//.template-summary div.right .cta-title-wrapper a.cta-title {
//  display: inline
//}
//
//.template-summary img.preview {
//  width: 100%;
//  margin-top: .5em;
//  margin-bottom: 1em;
//  -webkit-box-shadow: 0 1px 6px 0 rgba(14, 30, 37, .12);
//  box-shadow: 0 1px 6px 0 rgba(14, 30, 37, .12)
//}
//
//.template-summary a.cta-title {
//  margin-bottom: .5em
//}
//
//ul.meta {
//  list-style: none;
//  margin-top: .5em;
//  margin-bottom: 1em;
//  font-size: .8em
//}
//
//ul.meta li {
//  display: inline-block
//}
//
//ul.meta .tag {
//  text-transform: capitalize;
//  background-position: 0 0;
//  background-repeat: no-repeat;
//  background-size: 1.8em;
//  padding-left: 1.6em;
//  background-image: url(/6372236edc067fcb7815001dcae0954087db7cbd/f116a/images/icon-tag.svg);
//  line-height: 2
//}
//
//ul.meta .link-example, ul.meta .link-repo {
//  display: block;
//  background-position: 0 .1em;
//  background-repeat: no-repeat;
//  background-size: 1.4em;
//  padding-left: 1.7em;
//  padding-bottom: .2em
//}
//
//ul.meta .link-example {
//  background-image: url(/3117fc29b512b0993143ed06ac5df3f8a7d8e6d7/4a9bc/images/icon-browser.svg)
//}
//
//ul.meta .link-repo {
//  background-image: url(/be949a0003ddd2e3acaeef816309a383561326cd/88354/images/icon-git.svg)
//}
//
//a {
//  text-decoration: none
//}
//
//a:link, a:visited {
//  color: #414141;
//  border-bottom-color: #b3e7e2;
//  border-bottom-style: solid;
//  border-bottom-width: 1px
//}
//
//a:focus, a:hover {
//  color: #111;
//  border-bottom-color: #00b09f
//}
//
//header a:link, header a:visited {
//  color: #fff;
//  border-bottom-color: #00b09f;
//  border-bottom-style: solid;
//  border-bottom-width: 1px
//}
//
//header a:focus, header a:hover {
//  border-bottom-color: #b3e7e2
//}
//
//a.btn-dtn {
//  display: inline-block;
//  border-bottom-style: none;
//  vertical-align: top
//}
//
//.dtn {
//  margin-top: .6em;
//  margin-bottom: 1.6em
//}
//
//.dtn .hint {
//  font-size: .8em;
//  font-style: italic;
//  opacity: .5;
//  line-height: 2
//}
//
//a.cta-image:link, a.cta-image:visited {
//  border-bottom-style: none
//}
//
//a.cta-image:link img.thumbnail, a.cta-image:visited img.thumbnail {
//  -webkit-box-shadow: 0 1px 6px 0 rgba(14, 30, 37, .12);
//  box-shadow: 0 1px 6px 0 rgba(14, 30, 37, .12);
//  width: 100%
//}
//
//@media (min-width: 600px) {
//  a.cta-image:link img.thumbnail, a.cta-image:visited img.thumbnail {
//    width: 200px
//  }
//}
//
//a.cta-image:focus, a.cta-image:hover {
//  border-bottom-style: none
//}
//
//a.cta-image:focus img.thumbnail, a.cta-image:hover img.thumbnail {
//  -webkit-box-shadow: 0 3px 10px 0 rgba(14, 30, 37, .22);
//  box-shadow: 0 3px 10px 0 rgba(14, 30, 37, .22)
//}
//
//.container {
//  width: 90%;
//  margin-left: auto;
//  margin-right: auto;
//  text-align: left;
//  z-index: 1;
//  position: relative
//}
//
//@media (min-width: 600px) {
//  .container {
//    width: 80%
//  }
//}
//
//@media (min-width: 800px) {
//  .container {
//    width: 700px
//  }
//}
//
//@media (min-width: 1000px) {
//  .container {
//    width: 800px;
//  }
//}
//
//.content {
//  margin-top: 3em;
//  margin-bottom: 4em
//}
//
//main {
//  margin-top: 3em;
//  margin-bottom: 3em
//}
//
//header {
//  margin-bottom: 4em;
//  padding-top: 1em;
//  padding-bottom: 4em;
//  overflow: hidden;
//  position: relative;
//  background: #0e1e25;
//  background: linear-gradient(to bottom, #0e1e25 20%, #2d3b41 90%);
//  color: #cfd2d3;
//  text-shadow: 0 2px 20px rgba(0, 0, 0, .16);
//}
//
//header .navigation {
//  list-style: none;
//  padding-bottom: 1.6em;
//  margin-top: 1em;
//  margin-bottom: 4em;
//  border-bottom: solid 1px #3e4b51;
//  text-align: center
//}
//
//@media (min-width: 600px) {
//  header .navigation {
//    text-align: left;
//    padding-bottom: .6em
//  }
//}
//
//header .navigation li {
//  display: inline;
//  margin-right: 1em
//}
//
//header .navigation a:link, header .navigation a:visited {
//  color: #cfd2d3;
//  border-bottom-style: none
//}
//
//header .navigation a:focus, header .navigation a:hover {
//  color: #fff;
//  border-bottom-style: none
//}
//
//header .prime {
//  text-align: center
//}
//
//header .logo {
//  display: block;
//  margin-right: 2em;
//  margin-bottom: 2em
//}
//
//header .logo a {
//  display: block;
//  background-size: 120px;
//  width: 120px;
//  height: 50px;
//  background-image: url(/534ab499b9c56e50ea3fc1558b5edffa6d7117f5/e2d19/images/full-logo-dark.svg);
//  background-position: 0 0;
//  background-repeat: no-repeat;
//  text-indent: -999px;
//  overflow: hidden;
//  vertical-align: middle;
//  text-align: center;
//  margin-left: auto;
//  margin-right: auto;
//  margin-bottom: 2em
//}
//
//@media (min-width: 600px) {
//  header .logo a {
//    display: inline-block;
//    margin-left: 0;
//    margin-bottom: 0
//  }
//}
//
//@media (min-width: 600px) {
//  header .logo {
//    display: inline-block;
//    margin-bottom: 0
//  }
//}
//
//footer {
//  background-color: #f4f7f8
//}
//
//footer .container {
//  text-align: center;
//  padding-top: 6em;
//  padding-bottom: 6em
//}
//
//footer .navigation {
//  list-style: none
//}
//
//footer .navigation li {
//  display: inline;
//  margin-left: .5em;
//  margin-right: .5em
//}
//
//footer .navigation a:link, footer .navigation a:visited {
//  color: #9fa5a8;
//  border-bottom-style: none
//}
//
//footer .navigation a:focus, footer .navigation a:hover {
//  color: #6e787c;
//  border-bottom-style: none
//}
//
//ul.nav {
//  list-style: none
//}
//
//ul.nav li {
//  display: inline
//}
//
//.wave {
//  overflow: hidden;
//  position: absolute;
//  width: 100%;
//  color: #fff;
//}
//
//.wave svg {
//  fill: currentColor;
//  width: 102%;
//  margin-left: -1%;
//  height: auto;
//}
//
//.wave:last-child {
//  bottom: 0;
//  transform: translateY(60%);
//}
