<table>
  <thead>
  <tr>
    <th>Sun</th>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Sat</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let week of calendar">
    <td
      *ngFor="let day of week.days"
      [class.disabled]="day.disabled"
      (click)="select(day.value)"
    >
      <span
        class="day"
        [class.selected]="day.selected"
        [class.active]="day.active"
      >
        {{ day.value | moment:'ddd DD' }}
      </span>
      <p *ngFor="let t of tasksService.data | async" class="todo">
        <span
          *ngIf="t.todo === (day.value | moment:'DD-MM-YYYY')">Assigned case
        </span>
      </p>
    </td>
  </tr>
  </tbody>
</table>
