table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;

  td, th {
    border: 1px solid #000;
    padding: .5rem 1rem;
  }

  td {
    text-align: center;
    transition: all .2s;
    position: relative;
    width: 120px!important;
    height: 80px!important;

    .day {
      position: absolute;
      top: 8px;
      right: 8px;
    }
    &.disabled {
      opacity: .5;
    }

    &:hover:not(.disabled) {
      background: #eee;
      cursor: pointer;
    }
  }

  .active {
    color: var(--primary-color);
    font-weight: bold;
  }

  .selected {
    color: blue;
  }

  .todo {
    background-color: green;
    color: chartreuse;
    font-size: 12px;
    width: 85px;
    margin: 0 auto;
    position: absolute;
    right: 8px;
    bottom: 12px;
    border-radius: 5px;
  }



}
